<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">


	<title>Comport</title>


	@RenderSection("css", required: false)
</head>

<body>
	<!-- Header Area Starts -->
	<header style="height:130px" class="header-area main-header">


		
			<div style="margin-left:40px" class="row">
				<div class="col-lg-2">
					<div>
						<a href="index.html"><img style="width:100%;height:100px" src="~/assets/images/logo/favicon.png" alt="logo"></a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="custom-navbar">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="main-menu">
						<ul style="margin-top: 25px">
							<li class="active"><a href="@Url.Action("Index","Home")">ANA SAYFA</a></li>
							<li><a href="about.html">HAKKIMIZDA</a></li>
							<li><a class="kategoriler" href="Index#scroll">KATEGORILER</a></li>
							<li>
								<a href="#">MARKALAR</a>
								<ul style="left:-10px; top:30px; width:150px" class="sub-menu">
									<li style="margin-left:25px">HOTPOINT</li>
									<li style="margin-left:25px">ARCELIK</li>
									<li style="margin-left:25px">BEKO</li>
									<li style="margin-left:25px">VESTEL</li>
								</ul>
							</li>
							<li><a href="contact-us.html">ILETISIM</a></li>
							<li style="margin-right:30px" class="menu-btn">
								<a href="#" class="login">GIRIS</a>
								<a  href="#" class="template-btn">UYE OL</a>
							</li>
							
						</ul>
					</div>
				</div>
				<div class="col-lg-2">
					<ul style="margin-top: 20px">
						<li class="nav-item">
							<a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
								<img src="img/product/pro4.jpg" alt="">
								<span class="admin-name">Prof.Anderson</span>
								<i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
							</a>
							<ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
								<li>
									<a href="#"><span class="edu-icon edu-home-admin author-log-ic"></span>My Account</a>
								</li>
								<li>
									<a href="#"><span class="edu-icon edu-user-rounded author-log-ic"></span>My Profile</a>
								</li>
								<li>
									<a href="#"><span class="edu-icon edu-money author-log-ic"></span>User Billing</a>
								</li>
								<li>
									<a href="#"><span class="edu-icon edu-settings author-log-ic"></span>Settings</a>
								</li>
								<li>
									<a href="#"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
	</header>

	<hr />
	<!-- Header Area End -->
	@RenderBody()
	<!-- Footer Area Starts -->
	<footer style="padding:0px;height:50px;" class="footer-area section-padding">
		<div class="footer-copyright" style="height:100%">
			<div class="container">
				<div style="justify-content:center;" class="row">
					<span style="margin-top:10px">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">AB</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</span>
				</div>
			</div>
		</div>
	</footer>
	
	@RenderSection("scripts", required: false)
</body>
</html>
