@model Web.Models.ViewModels.TroubleRecordViewModel
@{
    ViewBag.Title = "TroubleRecord";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

    List<Web.Models.ViewModels.TroubleRecordViewModel> list = ViewBag.List;

}

@section css
	{

    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Admin1/assets/libs/select2/dist/css/select2.min.css">
    <link href="~/Admin1/dist/css/style.min.css" rel="stylesheet">


}

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div style="height:650px" class="container-fluid">

    @using (Html.BeginForm("TroubleRecord", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart / form - data" }))
    {
        <div class="row">
            <div class="col-md-6">
                <div style="border:none" class="card">
                    <div class="card-body">
                        <div class="row">
                            <h5 style="margin-left:305px;padding-bottom:20px">Arıza Talebi</h5>
                            <h5 style="margin-left:305px;padding-bottom:20px">@Html.ValidationSummary()</h5>
                            <h5 style="margin-left:305px;padding-bottom:20px">@TempData["Message"]</h5>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.Types, new { @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-9">
                                @Html.EnumDropDownListFor(x => x.Types,new { @class = "select2 form-control"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.BrandTypes, new { @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-9">
                                @Html.EnumDropDownListFor(x => x.BrandTypes,new { @class = "select2 form-control"})
                            </div>
                        </div>
                        <div class="form-group row">    
                            @Html.LabelFor(x => x.PostedFile, new { @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.PostedFile, new { @class = "form-control", @placeholder = "İsiminizi Giriniz", type = "file", multiple = false })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.Message, new { @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextAreaFor(x => x.Message, new { @class = "form-control" })
                            </div>
                        </div>

                        
                        <div class="card-body">
                            <button style="width:500px;margin-left:80px" type="submit" class="btn btn-primary btn-block">Kaydet</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    }



</div>

@section scripts {


    <script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="~/assets/js/vendor/wow.min.js"></script>
    <script src="~/assets/js/vendor/owl-carousel.min.js"></script>
    <script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/vendor/ion.rangeSlider.js"></script>
    <script src="~/assets/js/main.js"></script>


    <!-- This Page JS -->
    <script src="~/Admin1/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Admin1/dist/js/pages/mask/mask.init.js"></script>
    <script src="~/Admin1/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Admin1/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/Admin1/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
    <script src="~/Admin1/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
    <script src="~/Admin1/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
    <script src="~/Admin1/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="~/Admin1/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Admin1/assets/libs/quill/dist/quill.min.js"></script>


    <script>

        $(".select2").select2();


        $(document).ready(function() {

            $("#country").change(function() {

                var a = $(this).val();

                $("#city").empty();

                if (a == "TR") {

                    var v;
                    v += "<option>Edirne</option>";
                    v += "<option>Kırklareli</option>";

                    $("#city").html(v);
                } else if (a == "ALM") {
                    var v;
                    v += "<option>Munich</option>";
                    v += "<option>Berlin</option>";
                    $("#city").html(v);

                } else if (a == "ING") {
                    var v;
                    v += "<option>Londra</option>";
                    v += "<option>Manchester</option>";
                    $("#city").html(v);

                } else if (a == "ITL") {
                    var v;
                    v += "<option>Milano</option>";
                    v += "<option>Roma</option>";
                    $("#city").html(v);

                } else if (a == "AB") {
                    var v;
                    v += "<option>Massachussetts</option>";
                    v += "<option>Nebraska</option>";
                    $("#city").html(v);

                }
            });

        });

        $(function() {
            $('.datepicker').datepicker({
                startDate: '-3d'
            });


        });


    </script>

}


