@model Web.Models.IdentityEntities.User



<ul style="margin-top: 20px">
	<li class="nav-item">
		<a style="margin-left:10px">
			<img src="img/product/pro4.jpg" alt="">
			<span style="color:black;font-size:20px" class="admin-name">@Model.Name.ToUpper() @Model.Surname.ToUpper()</span>
		</a>
		<div class="row">
			<div class="col-md-6">
				<button  name="@Model.Id" id="btn-edit1" class="btn btn-warning a-btn-slide-text">Profilim</button>
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				<div class="modal fade" id="myModal1" role="dialog" data-url='@Url.Action("EditAdminProfile", "Admin")'>
				</div>
			</div>
			<div style="position:relative;right:30px" class="col-md-5">
				<button class="btn btn-danger" href="@Url.Action("LogOut","Account")">Çıkış Yap</button>
			</div>

		</div>
	</li>
</ul>
