
@model Web.Models.ViewModels.TroubleRecordViewModel



@using (Html.BeginForm("EditTrouble", "Operator", FormMethod.Post, new { @class = "form-horizontal", id = "form" , enctype = "multipart/form-data" }))
{
	<div class="container">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 style="margin-left: 170px">Kişisel Bilgiler</h5>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<h5>@Html.ValidationSummary()</h5>
                        <h5>@TempData["Message"]</h5>
                        @Html.HiddenFor(x=>x.Id);
					</div>
					<div class="form-group row">
						@Html.LabelFor(x => x.Types, new { @class = "col-sm-3 text-right control-label col-form-label" })
						<div class="col-md-9">
							@Html.EnumDropDownListFor(x => x.Types,new { @id = "types", @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;", size = "1" })
						</div>
					</div>
					<div class="form-group row">
						@Html.LabelFor(x => x.BrandTypes, new { @class = "col-sm-3 text-right control-label col-form-label" })
						<div class="col-md-9">
							@Html.EnumDropDownListFor(x => x.BrandTypes, new { @id = "brandTypes", @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;", size = "1" })
						</div>
					</div>
					<div class="form-group row">
						@Html.LabelFor(x => x.PostedFile, new { @class = "col-sm-3 text-right control-label col-form-label" })
						<div class="col-sm-9">
							@Html.TextBoxFor(x => x.PostedFile, new { @class = "form-control", type = "file", multiple = false })
						</div>
					</div>
					<div class="form-group row">
						@Html.LabelFor(x => x.Message, new { @class = "col-sm-3 text-right control-label col-form-label" })
						<div class="col-sm-9">
							@Html.TextAreaFor(x => x.Message, new { @class = "form-control", })
						</div>
					</div>
					<br />
					<div class="form-group row">
						@Html.LabelFor(x => x.UserName, new { @class = "col-sm-3 text-right control-label col-form-label" })
						<div class="col-md-9">
							@Html.DropDownListFor(x => x.UserName,(List<SelectListItem>)ViewBag.UserList, "---Select---", new { @id = "brandTypes", @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;", size = "1" })
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn primary" id="btnOk" onclick="">OK</button>
					<button class="btn btn default" data-dismiss="modal" id="btnCancel">Cancel</button>
				</div>

			</div>
		</div>
	</div>
}


<script>

	$(document).ready(function () {


		//$("#country").change(function () {

		//    var a = $(this).val();

		//    $("#city").empty();

		//    if (a == "TR") {

		//        var v;
		//        v += "<option>Edirne</option>";
		//        v += "<option>Kırklareli</option>";

		//        $("#city").html(v);
		//    } else if (a == "ALM") {
		//        var v;
		//        v += "<option>Munich</option>";
		//        v += "<option>Berlin</option>";
		//        $("#city").html(v);

		//    } else if (a == "ING") {
		//        var v;
		//        v += "<option>Londra</option>";
		//        v += "<option>Manchester</option>";
		//        $("#city").html(v);

		//    } else if (a == "ITL") {
		//        var v;
		//        v += "<option>Milano</option>";
		//        v += "<option>Roma</option>";
		//        $("#city").html(v);

		//    } else if (a == "AB") {
		//        var v;
		//        v += "<option>Massachussetts</option>";
		//        v += "<option>Nebraska</option>";
		//        $("#city").html(v);

		//    }
		//});



	});


</script>







